.App {
  height: 100%;
}

.App .row .card {
  margin-top: 15px;
}

.App-search-dialog {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  padding: 15px;
}

.submit-button-flex {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.submit-button {
  width: 100%;
}